body
{
    margin: 0;
    padding: 0;
}
.seConnecter
{
    /* background-color: grey; */
    margin: 0;
    padding: 2%;
    /* display: flex; */
}
.enregistrer
{
    padding: 2%;
    margin: 0;
    text-align: center;
}

.nav-bar
{
    margin: 0;
    padding: 1%;
    height: 40px;

}

.annonce 
{
    background-color: lightblue;
    margin: 2%;
    display: flex;
    flex-direction: row;
    height: 220px;
    padding: 1% 1% 1% 1%;
}
.ajouterAnnonce
{
    text-align: center;
}

.contenerRubs
{
    display: flex;
    flex-wrap: wrap;
}
#contenerRubs
{
    justify-content: space-around;
    margin-top: 1% ;
}
.selectionRubrique
{
    background-color: grey;
    margin: 2%;
    display: flex;
    width: 20%;
    text-align: center;
}

.entete 
{
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

.panneauconfi
{
    width: 300px;
}
.panneauconfi p 
{
    margin: 2% 1%;
}
.footer
{
    position: absolute;
    bottom: 0;
}
.ajouterAnnonce a
{
    border-style: outset;
    border-color: lightblue;
    border-width: 1%;
    padding: 1%;
    text-decoration: none;
}
.ajouterAnnonce a:focus
{
    border-style: inset;
    border-color: lightblue;
    border-width: 1%;
    padding: 1%;
}
.nav-bar img
{
    width: 50px;
}

.nav-bar figure
{
    float: right;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.seConnecter form
{
    /* float: right; */
    background-color: antiquewhite;
    width: 25%;
    height: 400px;
    padding: 1%;
    text-align: center;
    border-radius: 2%;
}

.enregistrer form
{
    background-color: #89dcf1;
    border-radius: 2%;
    width: 20%;
    padding: 2%;
}

.seConnecter .enregistrer
{
    width: 23%;
    text-align: center;
    background-color: lavender;
    margin-top: 2%;
    padding: 1% 2%;
}

.annonce img
{
    width: 75%;
}

.annonce-text
{
    width: 100%;
    height: 200px;
    margin: 0;
}

.annonce-text-corps
{
    height: 190px;
    display: flex;
    flex-direction: column;
}

.annonce-text-corps h2
{
    margin : 0;
}
.annonce-text-corps p
{
    width: 100%;
    position: relative;
    top: -10%;
}
.annonce a 
{
    float: right;
}
.annonce-text a img
{
    width: 100%;
}
.annonce-text div
{
    display: flex;
    justify-content: space-between;
}
.annonce-text-corps a
{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: grey;
    padding: 0.5%;
    border-style: outset;
    border-radius: 2%;
}
.seConnecter form img
{
    border-radius: 5%;
    width: 150px;
}

.seConnecter form div 
{
    display: flex;
    flex-direction: column;
    margin: 3%;
    text-align: left;
    font-weight: bold;
}

.seConnecter form input
{
    height: 20px;
    margin-top: 5px;
}

.seConnecter form button
{
    padding: 2% 5%;
}

.seConnecter .enregistrer a
{
    text-decoration: none;
    color: blue;
}

.seConnecter .enregistrer a:hover
{
    color: burlywood;
    text-decoration: underline;
}
.enregistrer form img
{
    border-radius: 5%;
    width: 150px;
}
.enregistrer form div
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
}
.enregistrer form button
{
    padding: 2% 5%;
}
.enregistrer form div input
{
    margin: 2% 0;
    height: 20px;
}