  {% extends "base.html.twig" %}
  {% block content %}
  
  
    <ul>
      <li><a href="{{ url }}?action=afficherRubriques">afficherRubriques</a></li>
      <li><a href='{{ url }}?action=ajouterRubrique'>ajouterRubrique</a></li>
      <li><a href='{{ url }}?action=identifierUtilisateur'>identifierUtilisateur</a></li>
      <li><a href='{{ url }}?action=creerUtilisateur'>creerUtilisateur</a></li>
    </ul>
  {% endblock %}      