{% extends "base.html.twig" %}
{% block content %}
    <div>
        <form action='{{ url }}' class='form-control' method='POST' >
            <h2 class="form-signin-heading">Enregistrez-vous</h2>
            <p><label for='nom'>NOM : </label><input type='text'    class="form-control"  name='nom' id='nom' class='nom' required></p>
            <p><label for='mail'>MAIL : </label><input type='text' class="form-control" name='mail' id='name' class='name'required></p>
            <p><label for='mdp'>MOT DE PASSE : </label><input type='text' class="form-control" name='mdp' id='mdp' class ='mdp'required></p>
            <input type='hidden' name='action' id='action' class='action' value='creerUtilisateur'>
            {# <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> se souvenir
            </label> #}
            <button class="btn btn-lg btn-primary btn-block" type='submit'>S'enregisrer</button>
        </form>
    </div>
{% endblock %}