{% extends "base.html.twig" %}
{% block content %}
    {% for rub in rubs %}
        <ul><li>{{rub.ID}} : {{rub.LIBELLE}}</li></ul>
    {% endfor %}
    <p><a href='{{ url }}'> Retour à l'accueil</a></p>
{% endblock %}