{% extends "base.html.twig" %}
{% block content %}
    <form method="post" accept-charset="UTF-8">
        <div>
            <label>votre mail</label>
            <input type='submit' >
        </div>
    </form>
{% endblock %}