body
{
    margin: 0;
    padding: 0;
}
h3, h1{
    text-align: center;
}

.seConnecter
{
 
    margin: 0;
    padding: 1%;
}
.enregistrer
{
    padding: 2%;
    margin: 0;
    text-align: center;
}

.nav-bar
{
    margin: 0;
    padding: 1%;
    height: 40px;
}

.annonce 
{
    background-color: lightblue;
    margin: 2%;
    display: flex;
    flex-direction: row;
    height: 220px;
    padding: 1% 1% 1% 1%;
}
.ajouterAnnonce
{
    text-align: center;
}

.contenerRubs
{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 280px;
}

#contenerRubs
{
    justify-content: space-around;
    height: 50px;
    display: flex-wrap;
}
.selectionRubrique
{
    margin: 2%;
    display: flex;
    width: 20%;
    height: 200px;
    text-align: center;
    background-image: url('./../../img/img.jpg');
}

.selectionRubrique:hover
{
   border-style: solid;
   border-color: yellow;
   border-width: 1%;
}

.entete 
{
    display: flex;
    justify-content: space-between;
    padding: 1% 1% 2% 1%;
    box-shadow: 0px 10px rgb(192, 192, 192);
    margin-bottom: 1.5%;
}

.panneauconfi
{
    width: 300px;
}
.panneauconfi p 
{
    margin: 2% 1%;
}
.footer
{
    text-align: center;
    width: 100%;
    background-color: black ;
    padding: 1%;
    position: relative;
    bottom: 0;
    margin: 0;
    margin-top: 5%;
}
.header
{
    background-image: url('../../img/newyear.jpg');
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

.espaceConnexion
{
    display: flex;
    flex-basis: auto;
    width: 100%;
}

.description 
{
    width: 50%;
    border-radius: 2%;
    padding: 1%;
    position: relative;
    left: 25%;
    text-align: center;
    height: 550px;
    overflow: auto;
    border-style: solid;
    border-color: black;
    border-width: 1%;
}
.description-entete
{
    display: flex;
    background-color: grey;
}

.desc-img
{
    background-image: url('./../../img/article.png');
    height: 150px;
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}


.description-entete h2{
    position: relative;
    left: 30%;
}
.desc-date 
{
    display: flex;
    justify-content: space-between;
}

.description-text
{
    height: 250px;
    overflow: auto;
}
.ajouterAnnonce a
{
    border-style: outset;
    border-color: lightblue;
    border-width: 1%;
    padding: 1%;
    text-decoration: none;
}
.ajouterAnnonce a:focus
{
    border-style: inset;
    border-color: lightblue;
    border-width: 1%;
    padding: 1%;
}
.nav-bar img
{
    width: 50px;
}

.nav-bar figure
{
    float: right;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seConnecter form
{
    /* float: right; */
    background-color: antiquewhite;
    width: 50%;
    height: 450px;
    padding: 1%;
    text-align: center;
    border-radius: 2%;
    position: relative;
    left: 50%;
}

.enregistrer form
{
    background-color: #89dcf1;
    border-radius: 2%;
    width: 20%;
    padding: 2%;
}

.seConnecter .enregistrer
{
    width: 47%;
    text-align: center;
    background-color: lavender;
    margin-top: 2%;
    padding: 1% 2%;
    position: relative;
    left: 50%;
}

.annonce img
{
    width: 40%;
}

.annonce-text
{
    width: 100%;
    height: 200px;
    margin: 0;
}

.annonce-text-corps
{
    height: 190px;
    display: flex;
    flex-direction: column;
}

.annonce-text-corps h2
{
    margin : 0;
}
.annonce-text-corps p
{
    width: 100%;
    position: relative;
    top: -10%;
}
.annonce a 
{
    float: right;
    width: 25%;
}
.espaceConnexion div
{
    width: 50%;
    margin: 0.5%;
}
.annonce-text a img
{
    
}
.iconuser
{
    float: right;
    width: 5%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 1%;
}
.iconuser a img{
    width: 200%;
    margin: 0;
}
.annonce-text div
{
    display: flex;
    justify-content: space-between;
}
.annonce-text-corps a
{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: grey;
    padding: 0.5%;
    border-style: outset;
    border-radius: 2%;
}

#contenerRubs a
{
   text-decoration: none;
   font-weight: bold;
   color: white;
   width: 10%;
   height: 20px;
   padding: 1%;
   margin: 0 auto;
   text-align: center;
}

.selectionRubrique a 
{
    position: relative;
    top: 10%;
    left: 15%;
    padding: 20%;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color:  black;
}
.seConnecterText
{
    height: 200px;
    padding: 10% 0%;
}
.seConnecterText h2 
{
    text-align: center;
}

.footer a 
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover
{
    color: yellow;
}

#contenerRubs a:hover
{
    background-color: gray;
}
.seConnecter form img
{
    border-radius: 5%;
    width:50%;
}

.seConnecter form div 
{
    display: flex;
    flex-direction: column;
    margin: 3%;
    text-align: left;
    font-weight: bold;
}

.seConnecter form input
{
    height: 20px;
    width: 180%;
    margin-top: 5px;
}

.seConnecter form button
{
    padding: 2% 5%;
}

.seConnecter .enregistrer a
{
    text-decoration: none;
    color: blue;
}

.seConnecter .enregistrer a:hover
{
    color: burlywood;
    text-decoration: underline;
}
.enregistrer form img
{
    border-radius: 5%;
    width: 150px;
}
.enregistrer form div
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
}
.enregistrer form button
{
    padding: 2% 5%;
}
.enregistrer form div input
{
    margin: 2% 0;
    height: 20px;
}